<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h3>WELCOME TO UPDATE PAGE</h3>
<form th:action="@{/customer/update}" method="post" th:object="${customer}">
<pre>
ID       <input type="text" th:field="*{cid}" readonly="readonly"/>
 
NAME     <input type="text" th:field="*{cname}"/>

ADDRESS  <input type="text" th:field="*{caddr}"/>

GENDER   <input type="radio"  th:field="*{cgender}" value="M" />M    <input type="radio" th:field="*{cgender}" value="F"/>F
</pre>
<input type="submit" value="Register">
</form>
<span th:text="${msg}"></span>
</body>
</html>